/* VERSI ORI TEH SALAMAH/TEH NUY */
/* alert('halo wasap gengs')  */
/* console.log('ini sebuah console')  */

/* function contohLet() {
    let y = 10;
    if (true) {
        let y = 20;
        console.log("Nilai dalam blok:", y);
    }
    console.log("Nilai luar blok:", y);
} */

/* contohLet();

let nama = 'Nur Salamah Azzahrah'; 
let usia = 20; 
let tinggiBadan = 148.8; 
let beratBadan;
beratBadan = 43.5; 
let uang = null; */

/* if (uang == null) {
    uang = "belum ada";
} else {
    uang = "udah ada";
} */

/* switch (uang) {
    case 1:
        uang = "punya sedikit";
        break;
    case 2:
        uang = "punya cukup";
        break;
    default:
        uang = "tidak ada";
        break;
} */

/* let uangAwal = 20000;
let uangTambahan = 15000;
const uangTotal = uangAwal - uangTambahan;  */

/* alert('nama saya ' + nama) 
alert(nama saya ${nama}, usia saya ${usia} tahun, tinggi badan saya ${tinggiBadan} cm); */
/* 
alert(uang awal gue sebesar Rp.${uangAwal} dan gue dikasih tambahan Rp.${uangTambahan}, jadi totalnya Rp.${uangTotal}); */

/* let namaPanggilan = [
    'Nur',  
    'Ara',  
    'Nuy'   
]; */

/* let mahasiswa = {
    nama: "Rina",
    usia: 20,
    jurusan: "Informatika"
};  */

/* console.log(mahasiswa.jurusan); */
/* 
namaPanggilan.push('Nun', 'Zahra'); 
namaPanggilan.shift();
/* shift: menghapus salah satu index array dari awal */
/* namaPanggilan.pop(); 
pop: menghapus salah satu index array dari akhir */
/* 
alert(namaPanggilan); */
/* 
console.log(namaPanggilan.length); */
/* menampilkan panjang array */